body {
  background-color: #001124;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 700px;
  height: 1024px;
  background-color: #001124;
}

.register {
  margin-bottom: 120px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 374px;
  width: 363px;
}

input {
  width: 361px;
  height: 43px;
}

h1 {
  color: aliceblue;
  font-family: "DM Serif";
  font-size: 45px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}

.lab {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: aliceblue;
}

.form-color {
  margin: 0;
  margin-bottom: 10px;
  color: #015fc7;
}

.span-color {
  color: white;
}

.but {
  color: #fff;
  font-family: "Padauk";
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  height: 43px;
  width: 180px;
  background-color: #015fc7;
}

a {
  text-decoration: none;
  color: #015fc7;
}
