body {
  background-color: #001124;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 700px;
  height: 1024px;
  background-color: #001124;
}

.form-main {
  display: flex;
  height: 900px;
  width: 361px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.main-image {
  margin-bottom: 160px;
}

h1 {
  margin-bottom: 30px;
  margin-top: 0px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 62px;
  color: #ffffff;
}

label {
  font-family: "Padauk";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

input {
  width: 361px;
  height: 43px;
}

input {
  margin-bottom: 10px;
}

.but {
  margin-top: 30px;
  margin-left: 80px;
  height: 43px;
  width: 180px;
  background: #015fc7;
  border-radius: 5px;
  font-family: "Padauk";
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}
