body {
  margin: 0 auto;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: flex-end;
}

div {
  margin-bottom: 10px;
}

label {
  display: block;
  padding-bottom: 10px;
}

.main {
  max-width: 1000px;
  min-width: 700px;
  margin: 0 auto;
}

/* left block */

.select_label {
  border-radius: 4px;
  width: 100%;
  height: 45px;
}

.form-left {
  width: 392px;
}

section {
  width: 392px;
}

input {
  width: 387px;
}

select {
  width: 100%;
}

.block {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #171717;
}

.red {
  color: #d83933;
}

input {
  display: block;
  height: 40px;
}

.col-blue {
  height: 45px;
  color: #0050d8;
  background-image: url(../img6/Vector.png);
  background-repeat: no-repeat;
  background-position: 370px;
  background-size: 12px;
}

.data-left {
  color: #171717;
  font-size: 16px;
  text-align: center;
}

.data-free {
  text-align: center;
  color: #171717;
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input {
  border-radius: 4px;
}

input[type="checkbox"] {
  height: 24px;
  width: 24px;
  border-radius: 2px;
  margin-right: 5px;
  accent-color: rgba(255, 0, 255, 1);
}

/*right-block*/

.form-right {
  padding-bottom: 50px;
  width: 392px;
}

.class {
  width: 400px;
  height: 47px;
}

.right-block {
  width: 100%;
}

.right-color {
  background: #efefef;
}

.checkbox-container2 {
  padding-top: 125px;
  padding-bottom: 25px;
  display: flex;
}
/* center */

.center-top {
  width: 870px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-end;
}

.center-title {
  padding-top: 20px;
  padding-left: 7%;
}

.center-top > div {
  width: 49%;
  margin: 8px 0;
}

/* midle-center */
.big-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 87%;
}

.center-lable {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #171717;
  border-radius: 4px;
}

.center-conteiner {
  width: 48%;
}

.big-center > div {
  margin: 8px 0;
}

.select_label2 {
  background-image: url(../img6/Vector.png);
  background-repeat: no-repeat;
  background-position: 405px;
  background-size: 12px;
  width: 100%;
  height: 45px;
  color: #747474;
  border: 1px solid black;
  border-radius: 4px;
}

.poshik {
  background-image: url(../img6/poshyk.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 45px;
  color: #747474;
  border-radius: 4px;
}

.center-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 87%;
}
/* bot */
#container4_4::placeholder {
  color: #0050d8;
}

#container4_1::placeholder,
#container4_3::placeholder {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #171717;
}

.diw-but {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 95%;
  margin-top: 65px;
}

.but {
  align-items: center;
  background: #0050d8;
  border-radius: 4px;
  width: 69px;
  height: 40px;
  color: aliceblue;
}

label {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  color: #171717;
}
